#boxContainer {
    display: grid;
    gap: 10px;
    justify-content: center;
    margin-bottom: 2rem;
}

.matchingCards {
    width: 100px; 
    height: 100px;  
    background-color: rgb(36, 36, 36);  
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    #boxContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 480px) {
    #boxContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
