button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    &:hover {
        background-color: #45a049;
    }
    
    &:focus {
        outline: none;
        background-color: #4CAF50;
    }
}

#playAgainBtn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    
    &:hover {
        background-color: rgb(138, 138, 138);
        color: white;
    }
    
    &:focus {
        background-color: rgb(36, 36, 36);
        color: white;
    }
}
