body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.exercise {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}
#memoryGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
}
div.matchingCards {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    background-color: rgb(36, 36, 36);
}

#playAgainBtn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

#playAgainBtn:hover {
    background-color: rgb(138, 138, 138);
    color: white;
    cursor: pointer;
}

#playAgainBtn:focus {
    background-color: rgb(36, 36, 36);
    color: white;
    cursor: pointer;
}